<!--CREADO POR CRISTIAN ALEXANDER BRAVO RUIZ-->
<!--Github: https://github.com/Alexilho-->
<!--Correo Electronico: alexilho96@gmail.com-->

<div class="container col-md-6">
    <div class="card col-auto text-center">
         <h3>Insertar pelicula</h3>
    </div>
    <hr>
    <div class="card-body col-auto text-center">
        <form action="" >
            <div class="form-group">
                <label for="">Titulo:</label>
                <input type="text" class="form-control">
            </div>
            <hr>
            <div class="form-group">
                <label for="">Calificación:</label>
                <select name="select" style="margin-left: 15px">
                    <option value="stars1" selected>1</option>
                    <option value="stars2">2</option>
                    <option value="stars3">3</option>
                    <option value="stars4">4</option>
                    <option value="stars5">5</option>
                  </select>
            </div>  
            <hr>  
            <div class="form-group">
                <label for="">País:</label>
                <input type="text" class="form-control">
            </div> 
            <hr>
            <!-- se realiza el guardado con el metodo (click)="Guardar()"-->       
            <button class="btn btn-outline-success">Guardar</button>
        </form>
    </div>
</div>
